<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box" *ngIf="!loading">
        <mat-card-header>
            <mat-card-title>Registrar pareja</mat-card-title>
        </mat-card-header>

        <form class="example-form" style="margin-top: 10;" [formGroup]="formRegistroPareja" (ngSubmit)="agregarPareja()">

            <mat-card-content>
                <mat-form-field class="ancho">
                    <mat-label>Año de temporada*</mat-label>
                    <input matInput  placeholder="Ingrese temporada" formControlName="yearSeason">
                </mat-form-field>

                <mat-form-field class="ancho">
                    <mat-label>Codigo de jaula*</mat-label>
                    <input matInput  placeholder="Ingrese identificador" formControlName="codJaula">
                </mat-form-field>

                <mat-form-field class="ancho">
                    <mat-label>Seleccione macho</mat-label>
                    <mat-select formControlName="codMacho">
                        <mat-option *ngFor="let item of canarioArrayM" [value]="item.id" >
                           Numero de anillo  {{item.nAnillo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="ancho">
                    <mat-label>Seleccione hembra</mat-label>
                    <mat-select formControlName="codHembra">
                        <mat-option *ngFor="let item of canarioArrayF" [value]="item.id" >
                           Numero de anillo  {{item.nAnillo}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>




            </mat-card-content>
            <button  type="submit" mat-raised-button color="primary">Aceptar</button>
            <button type="button" mat-raised-button [routerLink]="['/cria/listarParejas']"
                color="accent">Cancelar</button>

        </form>

    </mat-card>
</div>